.final {
    background: #f8f8f8;
    &__row {
        padding: 80px 0 40px 0;
        display: flex;
        gap: 30px;
        @media (max-width: 1200px) {
            padding: 50px 0;
            gap: 20px;
        }
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 767px) {
            padding: 50px 0 30px 0;
        }
    }
    &__column {
        flex: 1 1 auto;
    }
    &__column-1 {
        max-width: 370px;
        @media (max-width: 1200px) {
            max-width: 317px;
        }
        @media (max-width: 767px) {
            max-width: 320px;
        }
    }
    &__column-2 {
        max-width: 470px;
        @media (max-width: 1200px) {
            max-width: 402px;
        }
        @media (max-width: 767px) {
            max-width: 320px;
        }
    }
    &__column-3 {
        width: 270px;
        @media (max-width: 1200px) {
            width: 233px;
        }
        @media (max-width: 767px) {
            max-width: 320px;
        }
    }
    &__logo--container {
        @media (max-width: 992px) {
            text-align: center;
        }
    }
    &__descr {
        font-size: 18px;
        color: #c6cbcd;
        line-height: 21px;
        padding: 40px 0;
        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
            padding: 30px 0;
        }
        @media (max-width: 992px) {
            text-align: center;
        }
        @media (max-width: 767px) {
            padding: 20px 0;
        }
    }
    &__followers {
        span {
            font-size: 36px;
            font-weight: 700;
            font-style: normal;
            @media (max-width: 1200px) {
                font-size: 24px;
            }
        }
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        text-transform: uppercase;
        color: #2d3033;
        @media (max-width: 1200px) {
            font-size: 14px;
        }
        @media (max-width: 992px) {
            text-align: center;
        }
    }
    &__separator {
        width: 370px;
        height: 1px;
        background-color: #c6cbcd;
        margin: 20px 0 15px 0;
        @media (max-width: 1200px) {
            width: 317px;
        }
        @media (max-width: 992px) {
            width: 289px;
            margin: 15px auto 10px auto;
        }
    }
    &__follow {
        display: flex;
        justify-content: space-between;
    }
    &__span {
        font-style: italic;
        font-size: 13px;
        color: #c6cbcd;
        @media (max-width: 1200px) {
            font-size: 12px;
        }
    }
    &__list {
        display: flex;
    }
    &__link {
        padding: 2px;
        margin: 0 8px;
        font-size: 16px;
        color: #95e1d3;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: #000000;
        }
        @media (max-width: 1200px) {
            margin: 0 6px;
            font-size: 14px;
        }
    }
    &__form {
        margin: 50px 0 0 0;
        display: flex;
        @media (max-width: 1200px) {
            margin: 40px 0 0 0;
        }
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            margin: 30px 0 0 0;
        }
    }
    &__email {
        font-size: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        width: 237px;
        height: 55px;
        border: 1px solid #c6cbcd;
        @media (max-width: 1200px) {
            font-size: 14px;
            width: 171px;
            height: 40px;
        }
        @media (max-width: 992px) {
            width: 288px;
            margin: 0 0 20px 0;
            text-align: left;
        }
    }
    &__button {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background: #95e1d3;
        padding: 17px;
        transition: all 0.2s ease-in-out;
        &:hover {
            background: #87d2c4;
        }
        &:active {
            background: #5c958a;
        }
        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
            padding: 9px 33px;
        }
        @media (max-width: 992px) {
            width: 288px;
            justify-content: center;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #2d3033;
        margin: 0 0 37px 0;
        @media (max-width: 1200px) {
            font-size: 18px;
        }
        @media (max-width: 992px) {
            text-align: center;
        }
    }
    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        margin: 0 0 40px 0;
    }
    &__img--container {
        height: 88px;
        width: 90px;
        @media (max-width: 1200px) {
            height: 76px;
            width: 78px;
        }
        @media (max-width: 992px) {
            width: 96.75px;
            height: 94.27px;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__link--container {
        @media (max-width: 992px) {
            display: flex;
            justify-content: center;
        }
    }
    &__link {
        font-size: 13px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #2d3033;
        @media (max-width: 1200px) {
            font-size: 12px;
        }
    }
}
.final-blog {
    display: flex;
    margin: 0 0 20px 0;
    @media (max-width: 1200px) {
        margin: 0 0 23px 0;
    }
    &__image {
        width: 170px;
        height: 105px;
        margin: 0 30px 0 0;
        @media (max-width: 1200px) {
            width: 115.06px;
            height: 71.07px;
            margin: 0 20px 0 0;
        }
        @media (max-width: 767px) {
            width: 83px;
            height: 71px;
            margin: 0 15px 0 0;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__descr {
        max-width: 270px;
        @media (max-width: 767px) {
            max-width: 192px;
        }
    }
    &__text {
        padding: 5px 0 20px 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #2d3033;
        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
            padding: 5px 0 15px 0;
        }
        @media (max-width: 992px) {
        }
        @media (max-width: 767px) {
        }
    }
    &__date {
        font-size: 13px;
        color: #2d3033;
        @media (max-width: 1200px) {
            font-size: 12px;
        }
    }
}
