.latest {
    margin: 100px 0 84px 0;
    @media (max-width: 1200px) {
        margin: 80px 0 60px 0;
    }
    @media (max-width: 767px) {
        margin: 50px 0 30px 0;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    &__column {
        flex: 1 1 33.3333%;
        position: relative;
        max-width: 370px;
        @media (max-width: 1200px) {
            max-width: 316px;
        }
        @media (max-width: 767px) {
            max-width: 288px;
        }
    }
    &__image {
        width: 370px;
        height: 253px;
        @media (max-width: 1200px) {
            width: 316px;
            height: 214px;
        }
        @media (max-width: 767px) {
            width: 288px;
            height: 214px;
        }
    }
    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__date {
        position: absolute;
        top: 148px;
        left: 0px;
        height: 80px;
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #95e1d3;
        line-height: 30px;
        text-transform: uppercase;
        color: #ffffff;
        @media (max-width: 1200px) {
            height: 70px;
            width: 70px;
            line-height: 20px;
            top: 123px;
            left: -5px;
        }
        @media (max-width: 767px) {
            left: 0px;
        }
    }
    &__number {
        font-weight: 700;
        font-size: 36px;
        @media (max-width: 1200px) {
            font-size: 24px;
        }
    }
    &__month {
        font-weight: 500;
        font-size: 18px;
        @media (max-width: 1200px) {
            font-size: 14px;
        }
    }
    &__caption {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #2d3033;
        margin: 35px 0 17px 0;
        @media (max-width: 1200px) {
            font-size: 18px;
            margin: 25px 0 15px 0;
        }
        @media (max-width: 767px) {
        }
    }
    &__descr {
        font-size: 18px;
        line-height: 21px;
        color: #2d3033;
        margin: 0 0 30px 0;
        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
        }
        @media (max-width: 767px) {
            margin: 0 0 20px 0;
        }
    }
    &__icons {
        display: flex;
    }
    &__img {
        margin: 0 10px 0 0;
    }
    &__amount {
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #2d3033;
        margin: 0 40px 0 0;
    }
}
