.message {
    padding: 120px 0;
    &__swiper-button-prev {
        color: #c6cbcd;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: #000;
        }
        &::after {
            font-size: 32px;
        }
    }
    &__swiper-button-next {
        color: #c6cbcd;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: #000;
        }
        &::after {
            font-size: 32px;
        }
    }
    &__row {
        display: flex;
        justify-content: center;
    }
    &__image {
        margin: 0 30px 0 0;
    }
    &__body {
        padding: 5px 0;
    }
    &__text {
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #a9afb1;
        max-width: 770px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: -55px;
            left: 0;
            width: 70px;
            height: 4px;
            background-color: #f38281;
        }
    }
    &__name {
        margin: 40px 0 0 156px;
        font-family: "Kaushan Script";
        font-size: 30px;
    }
}
