.projects {
    background: #95e1d3;
    color: #ffffff;
    font-weight: 700;
    &__body {
        display: flex;
        justify-content: center;
    }
    &__block {
        padding: 69.5px 41px;
        border-left: 1px solid #ffffff;
        text-align: center;
        &:last-child {
            border-right: 1px solid #ffffff;
        }
    }
    &__amount {
        font-size: 64px;
        margin: 0 0 25px 0;
    }
    &__text {
        font-size: 24px;
    }
}
